.custom-input {
    width: 100%;
    display: flex;
    align-items: center;

    input {
        appearance: none;
        outline: none;
        background-color: transparent;
        border: 0;
    }
}