.custom-btn {
    padding: 5px 10px;
    display: inline;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}